---
const {id} = Astro.props
const {question} = Astro.props
const {answer} = Astro.props

let isVisible = false;

---

<div id= {id} class="w-[584px] bg-[#F2F4F7] m-[0.5rem] rounded-lg">
    <div class="p-[24px] flex flex-wrap text-[#101828]">
        <div class="flex justify-between items-start w-full">
            <p class="mb-[1rem] font-semibold text-2xl">{question}</p>
            <button class="text-5xl">{isVisible? '-':'+'}</button>
        </div>
        {isVisible && <p>{answer}</p>}
    </div>
    
</div>