---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Portfolio/Hero.astro";
import FAQ from "../components/Portfolio/FAQ.astro";
import Introdiv from "../components/Portfolio/Introdiv.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro"
const firstWord = "Featured";
const secondWord = "Works";
const description = "We don't just edit videos; we choreograph stories that resonate, inspire, and leave a lasting impression. Browse through our award-winning work and find concepts that move you"
const formTitle = "LET US KNOW HOW WE CAN HELP YOU."
const formDescription = " "
---

<Layout title="Portfolio">
    <div class="flex justify-center">
        <Introdiv firstWord={firstWord} secondWord={secondWord} description={description}/>
    </div>

    <div class="flex justify-center mt-[45px]">
        <Hero />
    </div>

    <div class="flex justify-center">
        <ContactForm formTitle={formTitle} formDescription={formDescription}/>
    </div>
    
    <div class="flex justify-center">
        <FAQ />
    </div>

   


</Layout>